/*
Copyright © 2018 Dennis Schulmeister-Zimolong

E-Mail: dhbw@windows3.de
Webseite: https://www.wpvs.de/

Dieser Quellcode ist lizenziert unter einer
Creative Commons Namensnennung 4.0 International Lizenz.
*/

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: 14pt;
  color: white;
  font-weight: bold;
}

.submitbutton {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: 14pt;
  color: white;
  font-weight: bold;
}

button[type=submit]:hover {
  background-color: #45a049;
}

/* Jede Spalte für Sign in/up Form max. 30em breit */
.form-30{
    max-width: 30em;
}

.form-select{
    color: #4CAF50;
}

.form-select option{
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}
/*
 * Vertikal gestapelte Formulare
 */

/* Container für nebeneinander liegende Elemente */
.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

/*
 * Horizontal ausgerichtete Formulare
 */
form.horizontal {
    /* Formularelement maximal hoch, nebeneinander */
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

form.horizontal > * {
    vertical-align: baseline;
}

/* Feldbezeichner */
form.horizontal label {
    margin-left: 1em;
}

form.horizontal label:first-of-type  {
    margin-left: 0;
}

/*
 * Allgemeingültige Layoutoptionen
 */
form label {
    font-weight: bold;
}

form label .required {
    color: darkred;
}

input,
textarea,
select {
    border: 1px solid #bebebe;
    padding: 0.5em;
    margin: 0;
    outline: none;
    background: white;
}

textarea {
    width: 33em;
    height: 12em;
}

/*
 * Fehlermeldungen
 */
form .errors {
    margin-top: 1em;
    color: red;
}





































